/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*
{
    margin: 0;
    padding: 0;
}

.btn
{
    margin-top:15px !important;
    margin-bottom:15px !important;

}

.card-link
{
    color: #FFF;
    visited: #FFF;
}

.file_loc
{
    font-size: 16px;
}


/* ABOVE ARE ONE TIME THINGS */




 #nav-bar
 {
     position: sticky;
     top: 0;
     z-index: 10;
     box-shadow: 10px 3px 5px rgba(0,0,0,.07) !important;
 }

 .navbar-brand img
 {
    height: 40px;
    padding-left: 30px;
 }

 .navbar-nav li
 {
    padding: 0 10px;
 }

 .navbar-nav li a
 {
     float: right;
     text-align: left;
     font-family: Arial;
     font-size: 16px;

 }

 #nav-bar ul li a:hover
 {
    text-shadow: 1px 1px #000000;

 }

 .navbar
 {
     background: #fff;
 }

 .navbar-toggler
 {
     border: none!important;
 }

 .nav-link
 {
     color: #FFF!important;
     font-weight: 400;
     font-size: 18px;
 }
/* END NAVIGATION */
/* START CAROUSEL */

.carousel-button
{
    top: 50%;
    transform: translateY(-30%);
    bottom: initial!important;   
}

.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h1
{
    color: #fff;
    font-size: 72px;
}


.carousel-item img
 {
     height: calc(100vh - 61px)!important;
 } 
/* FINISH CAROUSEL */
/* START USER PAGE */


 .user_feed
 {
     height: calc(100vh - 61px)!important;
     display: flex;
 } 

 .sidebar
 {
     background-image: linear-gradient(rgba(107, 122, 143, 0.99),rgba(107, 122, 143, 0.99)),url(/assets/sidebar_bg.jpeg);     
     background-size: auto;
     background-color: #6B7A8F;
     color: #FFF;
     width: 33%;
     float: left;
     height: 100%;
     padding-top: 30px;
     padding-left: 20px;
 }
 .sidebar h3
 {
    text-shadow: 2px 2px #000000;
 }
 
 .col1
 {
     background-image: linear-gradient(rgba(255, 255, 255, 0.98),rgba(255, 255, 255, 0.98)),url(/assets/texture.jpeg);
     background-size: auto;
     float: left;
     width: 100%;
     height: 100%;
     padding-top: 30px;
     padding-left: 65px;
     padding-right: 60px;
     overflow: scroll;
 }

/* FINISH USER PAGE */

.center 
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 33%;
    padding-top: 40px;
}


/* TESTIMONIAL */

#testimonial
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    
}

.btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content
{
    padding-top: 20px;
}

/* START SERVICES */

#services
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/assets/services.jpeg);
    background-size: cover;
    background-position; center;
    color: #efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 70px;
}
.container
{
    text-align: center;
    margin-top: 10px;
    padding-top: 20px
}

.services h2
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;

}

.services
{
    margin-top: 40px;
}

/* START CONTACT */




/* START FOOTER */

 #footer
 {
     background: #333;
     color: #FFF;
     padding: 5px;
 }

 .container h5
 {
     font-size: 12px;
     color: #CCC;
 }