/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*
{
    margin: 0;
    padding: 0;
}
 #nav-bar
 {
     position: sticky;
     top: 0;
     z-index: 10;
     box-shadow: 10px 3px 5px rgba(0,0,0,.07) !important;
 }

 .navbar-brand img
 {
    height: 35px;
    padding-left: 30px;
 }

 .navbar-nav li
 {
    padding: 0 10px;
 }

 .navbar-nav li a
 {
     float: right;
     text-align: left;
 }

 #nav-bar ul li a:hover
 {
     color: #000000!important;
 }

 .navbar
 {
     background: #fff;
 }

 .navbar-toggler
 {
     border: none!important;
 }

 .nav-link
 {
     color: #505050!important;
     font-weight: 400;
     font-size: 18px;
 }
/* END NAVIGATION */
/* START CAROUSEL */


.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h1
{
    color: #fff;
    font-size: 72px;
}


.carousel-item img
 {
     height: calc(100vh - 61px)!important;
 } 
/* FINISH CAROUSEL */
/* START USER PAGE */


 .user_feed
 {
     height: calc(100vh - 61px)!important;
 } 

 .sidebar
 {
     background-color: #6B7A8F;
     color: #FFF;
     width: 33%;
     float: left;
     height: 100%;
 }
 
 .col1
 {
     background-color: #FFF;
     width: 67%;
     height: 100%;
     padding-top 20px;
     padding-left 40px;
 }

/* FINISH USER PAGE */

/* START FOOTER */

 #footer
 {
     background: #333;
     color: #FFF;
     padding: 12px;
 }